.container {
    width: 300px;
    height: 300px;
    border: 2px solid pink;
    position: relative;
    margin: 50px auto;
    margin-top: 200px;
}



.box1 {
    background: red;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 75px;
    height: 75px;
}

.box2 {
    background: yellow;
    top: 0px;
    right: 0px;
    position: absolute;
    width: 75px;
    height: 75px;

}

.box3 {
    background: green;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 75px;
    height: 75px;
}

.box4 {
    background: blue;
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 75px;
    height: 75px;
}